$space: 12px;

$headerLogoHeight: 50px;

$headerHeight: 12vh;

$weightRegular: 400;

$softGray: #dddddd;
$darkColor: #58585a;

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: $weightRegular;
  color: $darkColor;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;

  h1,
  h2 {
    font-weight: 900;
    min-width: 100%;
  }
}


.header-app {
    height: $headerHeight;
    display: flex;
    align-items: center;
    padding: 0px $space * 2;
  
    .logo {
      height: $headerLogoHeight;
    }
  }